@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Mountains+of+Christmas:wght@400;700&display=swap');
:root{
--fonte-titulo:'Eater';
--fonte-texto:'Mountains';
--cor-principal: #0D0D0D; 
--cor-segundaria: #1C2B2D; 
--cor-destaque: #E4D00A; 
--cor-texto:#E0E0E0; 
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
h1, .caixa-perguntas, .caixa-resultados{
    font-family: var(--fonte-titulo);
}
h1{
    color: var(--cor-destaque);
}
button{
    background-color: var(--cor-segundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: backgrond-color 0.3s;
}
button :hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
.caixa-resultados{
    display: none;
}
.caixa-resultados.mostrar{
    display: block;
}
.caixa-alternativa{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
