@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Mountains+of+Christmas:wght@400;700&display=swap');
:root{
--fonte-titulo:'Eater';
--fonte-texto:'Mountains';
--cor-principal: #0D0D0D; 
--cor-segundaria: #1C2B2D; 
--cor-destaque: #E4D00A; 
--cor-texto:#E0E0E0; 
}



